<div class="main">
  <p id="notice"><%= notice %></p>
  <div class="add-blog">
    <% if admin_signed_in? %>
      <a class="btn-floating btn-large waves-effect waves-light red" href="blogs/new"><i class="material-icons">add</i></a>
      <a class="btn-floating btn-large waves-effect waves-light red" href="/admins/sign_out" data-method="delete"><i class="material-icons">exit_to_app</i></a>
    <% else %>
      <a class="btn-floating btn-large waves-effect waves-light red" href="/admins/sign_in"><i class="material-icons">person</i></a>
    <% end %>
  </div>
  <div class="row">
    <% @blogs.each do |blog| %>
       <div class="col s12 m3">
         <div class="card">
           <div class="card-image">
             <%= image_tag 'bg' %>
             <span class="card-title"><%= blog.title %></span>
           </div>
           <div class="card-content">
             <p><%= blog.content.first(150) %></p>
           </div>
           <div class="card-action">
             <%= link_to 'Read More', blog_path(blog) %>
           </div>
         </div>
       </div>
    <% end %>
  </div>

</div>
