<div class="main">
  <p id="notice"><%= notice %></p>
  <div class="title">
    <h5><%= @blog.title %></h5>
  </div>
  <div class="content">
    <%= @blog.content %>
  </div>

  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Back', blogs_path %>

</div>
